.base {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.labelWrapper {
  width: 100%;
  margin-top: 30px;
  margin-left: 15px;
}
.labelRow {
  padding: 5px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.colorBox {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin-right: 10px;
}
.label {
  font-size: 14px;
  color: var(--input-bold-color);
  font-weight: 600;
  width: 100%;
}
