.forgotPassBase {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f8f8f8;
}

.forgotPassBox {
	width: 530px;
	padding: 50px;
	flex-wrap: wrap;
	background-color: #fff;
	box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.forgotPassBox > h4 {
	color: var(--input-bold-color);
}

.forgotPassBox > p {
	color: var(--input-bold-color);
}

.forgotPassBox .authButton {
	margin-top: 20px;
}
